.item {
    display: flex;
    width: 30%;
    margin-right: 20px;
    padding: 8px 16px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}